body {
    background-color: lightgrey;
}
.container {
    width: 80vw;
    
    margin: 0 auto;
}
header {
    height: 100px;
    background-color: #1e90ff;
}
.sidebar {
    width: 20vw;
    /*width: 20%;*/
    min-height: 500px;
    height: calc(100% - 1px);
    float: left;
    background-color: #6b8e23;
    
}
.inform {
    width: 80vw;
    background-color: #ff0000;
    min-height: 500px;
    height: calc(100% - 1px);
}
